* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    min-height: 100vh;
}

.error{
    color: rgb(255, 0, 0);
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    text-align: start;
    text-transform: lowercase;
}


